// Desktop devices
.site{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 150px 50px;

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        .header{
            display: flex;
            justify-content: flex-start;
            padding: 2em 0 0 2em;
            width: 100%;

            .logoDesktop{
                display: contents;

                a{
                    img{
                        cursor: pointer;
                    }
                }
            }

            .logoMobile{
                display: none;

                a{
                    img{
                        cursor: pointer;
                    }
                }
            }
        }

        .funnel{

            iframe{
                height: 750px !important;
            }
        }

        .calendly{

            .calendlyWidget{
                overflow: hidden !important;
                width: 100%;

            }
        }
    }

    .footer{

        display: flex;
        flex: 1;
        border-top: 1px solid #d4d4d4;
        background-color: rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        color: #d4d4d4;
        font-size: 0.8em;

        .logo{
            height: 1.5em;
            margin-left: 0.25rem;
        }
    }

    .secure{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;

        .seal{

        }
    }
}

// Mobile devices
@media only screen and (max-width: 799px){
      .site{
        .wrapper{
            .header{
                display: flex;
                justify-content: center;
                padding: 2em 0 2em 0;

                .logoDesktop{
                    display: none;

                    a{
                        img{
                            cursor: pointer;
                        }
                    }
                }
    
                .logoMobile{
                    display: contents;

                    a{
                        img{
                            cursor: pointer;
                        }
                    }
                }
            }

            .funnel{
                iframe{
                    // padding-bottom: 6em;
                    height: 75vh !important;
                }
            }

            .calendly{
                .calendlyWidget{

                }
            }
        }

        .secure{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 150px; 

            .seal{

            }
        }
    }
    
  }